body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

h1 {
  color: #333;
}

form {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
button {
  padding: 5px;
  margin-bottom: 10px;
}

button {
  cursor: pointer;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 8px 16px;
  margin-right: 5px;
}

button:hover {
  background-color: #0056b3;
}

table {
  border-collapse: collapse;
  width: 100%;
}

/* CSS for table headers */
th {
  text-align: left; /* Align text to the left */
  padding: 5px; /* Add padding to the headers */
}

thead th,
tbody td,
tfoot td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

thead th {
  background-color: #f2f2f2;
  font-weight: bold;
}

tfoot {
  background-color: #f2f2f2;
}

tfoot td {
  font-weight: bold;
}

/* Adjust total row */
tfoot td:first-child {
  text-align: right;
}

/* static/styles.css */

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.transaction-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.transaction-form {
  width: 45%; /* Adjust width as needed */
}

/* static/styles.css */

.pagination {
  margin-top: 20px;
  text-align: center;
}

.pagination a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

.pagination .active {
  background-color: #4caf50;
  color: white;
}


.transaction-form h3 {
  margin-top: 0;
}

.transaction-form label {
  display: block;
  margin-bottom: 5px;
}

.transaction-form input[type="text"],
.transaction-form input[type="number"],
.transaction-form select {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.transaction-form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.transaction-form input[type="submit"]:hover {
  background-color: #45a049;
}

.transaction-row {
  border-bottom: 1px solid #ccc; /* Add border between rows */
}

/* Optional: Style header row differently */
tr.header-row {
  background-color: #a6a6a6;
  font-weight: bold;
}

.delete-button {
  background-color: #ff6347; /* Red background color */
  color: white; /* White text color */
  padding: 10px 20px; /* Add padding */
  border: none; /* Remove border */
  border-radius: 5px; /* Add border radius */
  cursor: pointer; /* Add pointer cursor */
}

/* Hover effect */
.delete-button:hover {
  background-color: #ff4136; /* Darker red background color on hover */
}